#cart-container{
  max-width: 500px;
  margin: auto;
  margin-top: 40px;
}

.tarjeta-producto{
  display: flex;
  align-items: center;
  height: 100px;
}

.tarjeta-producto img{
  height: 100%;
}

.tarjeta-producto h3{
  width: 130px;
}
.tarjeta-producto div{
  background-color: var(--color-claro);
  padding: 3px;
  border-radius: 5px;
}

#totales{
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
}

#carrito-vacio{
  text-align: center;
}